.banner {
  width: 100%;
}

.title {
  clear: left;
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 1em;
  text-align: center;
}

.first-content {
  background: #fefefe;
}

.first-content p {
  margin: 0 0 1em;
}

.utensils-image {
  float: left;
  margin: 0 20px 20px 0;
  width: 120px;
}

.first-content strong {
  font-weight: bold;
}

.first-content em {
  font-style: italic;
}

.first-content,
.address,
.benefits-content {
  padding: 3em 0;
}

.disclaimer-content,
.benefits-content {
  margin: 0 auto;
  width: 940px;
}

.address {
  background: linear-gradient(#fefefe, #888);
}

.address p {
  margin: 0 0 2em;
  text-align: center;
}

.map-content {
  margin: 0 auto;
  width: 940px;
}


.benefits {
  background: #888;
}

.benefits h2 {
  text-align: center;
}

.benefits-content ul {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.benefits-content li {
  line-height: 1.5em;
}

.benefits-content li::before {
  content: "★ "
}

.benefits-content li:first-child {
  font-weight: bold;
}

.benefits-image {
  box-shadow: 10px 10px 10px #000;
  opacity: 1;
  transition: 400ms;
  width: 60%;
}

.benefits-image:hover {
  opacity: 0.3;
}

.video {
  margin: 2em 0 0;
  width: 560px;
}


@media screen and (max-width: 480px) {
  .disclaimer-content,
  .benefits-content,
  .map-content,
  .video,
  .benefits-content ul,
  .benefits-image {
    width: 100%;
  }

}
