#products-list {
  margin: 0 auto;
  padding: 50px 0;
  width: 940px;
}

.card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 1.5%;
  padding: 30px 20px;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.card:hover {
  border-color: #c78c19;
}

.card:hover h2 {
  font-size: 34px;
}

.card:active {
  border-color: #088c19;
}

.card h2 {
  font-weight: bold;
  font-size: 30px;
}

.card .description {
  font-size: 18px;
}

.card .price {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0 0;
}
